<header>
    <img src="logo.png" alt="logo">

    @if(!shouldHideElement()){
    <div (click)="openModal()" class="logout-container">
        <img src="logout.png" alt="">
        <span>logout</span>
    </div>
    }

    @if (!shouldHideElementAdmin()) {
    <div class="burger-button" (click)="toggleWarenkorb()">
        <img src="shoppingcart.png" alt="">
        @if (this.globalService.warenkorb.length > 0) {
            <div class="cart-badge">{{ this.globalService.warenkorb.length }}</div>
        }
    </div>
    }
</header>

@if (showModal) {
<div class="modal-overlay">
    <div class="modal">
        <p>Möchten Sie sich wirklich abmelden?</p>
        <button (click)="logOut()">Ja, abmelden</button>
        <button (click)="goBack()">Abbrechen</button>
    </div>
</div>
}