footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #222222;

    a {
        padding: 6px;
        border-radius: 6px;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #4c4c4c;
        }
    }
}

.left-con {
    img {
        width: 75px;
        height: 75px;
    }
}

.right-con {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}