<div class="main-container">

    <div class="form-container">
        <h4>Registrierung</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Name">
            <div *ngIf="isSubmitted && registerForm.controls['name'].errors">
              <small *ngIf="registerForm.controls['name'].errors['required']">Benutzername ist erforderlich.</small>
              <small *ngIf="registerForm.controls['name'].errors['minlength']">Mindestens 3 Zeichen.</small>
            </div>

            <label for="company">Firma</label>
            <input type="text" id="company" formControlName="company" placeholder="Firma">
            <div *ngIf="isSubmitted && registerForm.controls['company'].errors">
              <small *ngIf="registerForm.controls['company'].errors['minlength']">Mindestens 3 Zeichen.</small>
            </div>
        
            <label for="email">E-Mail</label>
            <input type="email" id="email" formControlName="email" placeholder="E-Mail">
            <div *ngIf="isSubmitted && registerForm.controls['email'].errors">
              <small *ngIf="registerForm.controls['email'].errors['required']">E-Mail ist erforderlich.</small>
              <small *ngIf="registerForm.controls['email'].errors['email']">Gültige E-Mail-Adresse erforderlich.</small>
            </div>
        
            <label for="password">Passwort</label>
            <div class="password-container">
              <input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password" placeholder="Passwort">
              <img (click)="togglePassword()" [src]="currentImage" alt="">
            </div>
            <div *ngIf="isSubmitted && registerForm.controls['password'].errors">
              <small *ngIf="registerForm.controls['password'].errors['required']">Passwort ist erforderlich.</small>
              <small *ngIf="registerForm.controls['password'].errors['minlength']">Mindestens 6 Zeichen.</small>
            </div>
        
            <label for="confirmPassword">Passwort bestätigen</label>
            <div class="password-container">
              <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" placeholder="Passwort bestätigen">
              <img (click)="toggleConfirmPassword()" [src]="currentImageConfirm" alt="">
            </div>
            <div *ngIf="isSubmitted && registerForm.hasError('mismatch')">
              <small>Passwörter stimmen nicht überein.</small>
            </div>
        
            <small>Mit dem Klicken auf 'Registrieren' bestätigen Sie, dass Sie unsere <a routerLink="/privacy">Datenschutzerklärung</a> gelesen haben und mit dieser einverstanden sind.</small>
            <button type="submit">Registrieren</button>
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        
            <p>Bereits registriert? <a routerLink="/login">Zum Login</a></p>
          </form>
    </div> 
</div>