<div class="main-container">
    <div class="content-wrapper">
        <h1 class="title">Gastzugang erstellen</h1>
        
        <div class="result-section">
            <div class="result-group">
                <label for="name">Name des Gastes</label>
                <div class="input-group">
                    <input id="name" 
                           [(ngModel)]="name" 
                           type="text" 
                           placeholder="Name eingeben..." 
                           minlength="1"
                           class="form-input">
                </div>
            </div>
                        <div class="result-group">
                <label for="role">Rolle</label>
                <div class="input-group">
                    <select name="role" id="role" [(ngModel)]="role" class="form-input">
                        <option value="" disabled selected hidden>Bitte auswählen</option>
                        <option value="customer">Kunde</option>
                        <option value="employee">Mitarbeiter</option>
                    </select>
                </div>
            </div>

            <div class="result-group">
                <label>Link</label>
                <div class="input-group">
                    <input #inputLink 
                           [value]="newLink" 
                           type="text" 
                           placeholder="Hier erscheint der Link" 
                           readonly
                           class="form-input">
                    <button class="icon-button" (click)="copyLink()">
                        <img src="copy.png" alt="Copy">
                    </button>
                </div>
            </div>

            <div class="result-group">
                <label>PIN</label>
                <div class="input-group">
                    <input #inputPin 
                           [value]="newPin" 
                           type="text" 
                           placeholder="Hier erscheint PIN" 
                           readonly
                           class="form-input">
                    <button class="icon-button" (click)="copyPin()">
                        <img src="copy.png" alt="Copy">
                    </button>
                </div>
            </div>

            <button class="primary-button" (click)="generateLink()">
                <i class="bi bi-plus-circle"></i>
                Gastzugang erstellen
            </button>
        </div>

        @if(showSnackbar) {
            <div class="snackbar" [class.show]="showSnackbar">
                <i class="bi bi-check-circle"></i>
                @if(showPin) {
                    PIN Kopiert!
                }
                @if(showLink) {
                    Link Kopiert!
                }
            </div>
        }
    </div>
</div>
