

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.guest-link-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    input {
        min-width: 300px;
        padding: 12px;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 17px; /* Standardgröße für Input-Felder */
    }

    button {
        text-wrap: nowrap;
        padding: 12px;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background-color: #10b981;
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #13cd8f;
        }
    }
}

.guest-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    input {
        width: 80%;
        max-width: 450px;
        padding: 12px;
        border: none;
        border-radius: 10px;
        font-size: 17px;
    }
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 8px;

    img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    };
}

.snackbar {
    z-index: 5;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
  }