<div class="main-container">

    <div class="form-container">

        <h4>Login</h4>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="E-Mail" formControlName="email" required>

            <label for="password"></label>
            <div class="password-container">
                <input [type]="passwordVisible ? 'text' : 'password'" name="password" id="password" formControlName="password" placeholder="Passwort">
                <img (click)="togglePassword()" [src]="currentImage" alt="">
            </div>

            <div class="forgot"><a routerLink="/login" (click)="forgotPassword()">Passwort vergessen</a> | <a routerLink="/registration">Hier registrieren</a></div>

            <button type="submit" [disabled]="loginForm.invalid">Anmelden</button>
        </form>
        @if(errorMessage) {
        <div>{{ errorMessage }}</div>
        }
    </div>

</div>