@if (isVisible) {
    <div class="cart open">
      <button class="close-button" (click)="closeWarenkorb()" >✖</button>
      <h1>Warenkorb</h1>
  
      @if (this.globalService.warenkorb.length > 0) {
        @for (artikel of this.globalService.warenkorb; track artikel.id) {
            <div class="card">
                <div class="container">
                  <h4>{{ artikel.article_text}}</h4>
                  <div class="menge-con">
                    <span>Menge</span>
                    <div class="quantity-buttons">
                      <button class="quantity-btn" (click)="reduceQuantity(artikel)">-</button>
                      <span>{{artikel.quantity}}</span>
                      <button class="quantity-btn" (click)="increaseQuantity(artikel)">+</button>
                      </div>
                      <button class="remove-button" (click)="removeItem(artikel)">🗑</button>
                  </div>
                </div>
              </div>
        }
      } @else {
        <p>Dein Warenkorb ist leer.</p>
      }

      @if ( this.globalService.warenkorb.length > 0 ) {
        <button class="toggle-delivery-button" (click)="toggleDelivery()">
          {{ isDelivery ? 'Lieferung' : 'Abholung' }}
        </button>
      }

      <button class="order-button" (click)="sendOrder()">Bestellung abschicken</button>
    </div>
  }


