<div class="article-container">

  <div class="filter-wrapper">
    <div class="filter-container">
      <div class="controls">
        <button (click)="startScanner()" [disabled]="isScanning" class="scanner-btn">
          <span class="material-symbols-outlined">barcode</span>
  
        </button>
      </div>
      <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="filteredArtikelData()" placeholder="Artikel suchen..."
          class="search-input">
        <button *ngIf="searchTerm" (click)="clearSearch()" class="clear-search">
          <span class="material-icons">close</span>
        </button>
      </div>
   
    </div>
  </div>



  <div class="content">
    @for (artikel of artikelData; track $index) {
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><b>{{ artikel.article_text }}</b></h4>
        <p class="card-price">Art.-Nr [{{ artikel.article_number }}]</p>
        <div class="card-footer">
          <div class="input-main">
            <input type="number" [(ngModel)]="artikel.quantity" placeholder="Menge eingeben" class="quantity-input"
              min="1">
            <button (click)="addToCart($event, artikel)" class="add-to-cart-btn">In den Warenkorb</button>
          </div>
        </div>
      </div>
    </div>
    }

    <app-warenkorb></app-warenkorb>
  </div>

</div>

@if (isVisible) {
<app-upload-loading></app-upload-loading>
}

<!-- Scanner Modal -->
<div class="scanner-modal" *ngIf="isScanning">
  <select [(ngModel)]="selectedDevice">
  <option *ngFor="let device of availableDevices" [ngValue]="device">
    {{ device.label }}
  </option>
</select>
  <div class="scanner-content">
    <button class="close-scanner" (click)="stopScanner()">
      <span class="material-icons">close</span>
    </button>
    <div class="scanner-wrapper">
      <zxing-scanner #scanner 
      [device]="selectedDevice"
      [videoConstraints]="videoConstraints"
      [tryHarder]="true"
      [formats]="formatsEnabled"
      [torch]="true"
      (scanSuccess)="onCodeResult($event)">
      </zxing-scanner>
    </div>
  </div>
</div>