<div class="admin-main">
    <div class="upload-xml">
        <label for="xml">Produktliste aktualisieren:</label>
        <input #fileInput type="file" id="xml" name="xml" accept=".xml"/>
        
        <button (click)="onUploadClick()">Produkte aktualisieren</button>
        <button (click)="generateSelectedPdf()">Alle PDFs drucken</button>
      </div>
    
        <table>
            <tr>
                <th>Bestellnummer</th>
                <th>Bestelldatum</th>
                <th>Name</th>
                <th>Firma</th>
                <th>Status</th>
                <th>Aktionen</th>
            </tr>
            @for (order of orders; track order.order_id) {
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.created_at | date: 'dd.MM.yyyy HH:mm' }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.company }}</td>
                <td>
                    <select [(ngModel)]="order.status" (change)="onStatusChange($event, order)">
                        <option value="open" [selected]="order.status === 'open'">Offen</option>
                        <option value="in_progress" [selected]="order.status === 'in_progress'">In Bearbeitung</option>
                        <option value="completed" [selected]="order.status === 'completed'">Fertig</option>
                    </select>
                </td>
                <td>
                    <button (click)="generatePdf(order.company, order.shipping_address, order.payment_status, order.order_date, order.created_at, order.fulfillment_type, order.name, order.email, order.order_id, order.total_price, order.items)">
                        PDF drucken
                    </button>
                </td>
            </tr>
    }
</table>
    
    @if (showModal) {
        <div class="modal-overlay">
            <div class="modal">
                <p>Möchten Sie diesen Auftrag wirklich als abgeschlossen markieren?</p>
                <button (click)="confirmCompletion()">Ja, abschließen</button>
                <button (click)="cancelCompletion()">Abbrechen</button>
            </div>
        </div>
    }

    @if (isUploading) {
        <app-upload-loading></app-upload-loading>
    }
    
</div>
