.admin-main {
  margin-top: 100px;
}

.upload-xml {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 80px;

  button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #00b400;
    }
  }
}

.function-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  margin-left: 8px;

  button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #00b400;
    }
  }
}

input {
  color: #252525;
  box-sizing: border-box;
  padding: 3px 10px;
  border: 2px solid black;
  border-radius: 10px;
}

input::file-selector-button {
  background-color: #0044ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #4e7dff;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  button:first-of-type {
    background: green;
    color: white;
  }

  button:last-of-type {
    background: red;
    color: white;
  }
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  button {
    background-color: #004d57;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #007484;
    }
  }
}
th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #222222;
  color: white;
}
tr {
  background-color: #f9f9f9;
}

select {
  padding: 5px;
}
