
<div class="upload-xml">
    <label for="xml">Upload new XML file</label>
    <input #fileInput type="file" id="xml" name="xml" accept=".xml"/>
    
    <button (click)="onUploadClick()">Produkte aktualisieren</button>
    <button (click)="generateSelectedPdf()">Alle PDFs drucken</button>
  </div>

@for(order of orders; track order.order_id) {

    <div>
        <span>{{ order.order_id }}, {{ order.email }}, {{ order.name }}</span><br>
        <button (click)="generatePdf(order.company, order.shipping_address, order.payment_status, order.order_date, order.created_at, order.fulfillment_type, order.name, order.email, order.order_id, order.total_price, order.items)">PDF drucken</button>
    </div>

}
