<div class="filter-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Artikel suchen..." class="search-input">
</div>


<div class="content">
    @for (artikel of filteredArtikelData(); track $index) {
        <div class="card">
            <img src="https://placehold.co/100x100" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>{{ artikel.ARTIKELTEXT }}</b></h4>
              <p>{{ artikel.VKPREIS }}€ pro {{ artikel.EINHEIT }}</p>
              <input type="number" [(ngModel)]="artikel.MENGE" placeholder="Menge eingeben" min="1">
              <button (click)="addToCard(artikel)">In den Warenkorb</button>
            </div>
          </div>
    }
</div>
