.main-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.loader {
  border: 2px solid;
  border-color: transparent #000000;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.article-container {
  position: relative;
  margin-top: 200px;
}

/* Container for the search input */
.filter-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    top: 80px; /* Abstand vom oberen Rand (Headerhöhe) */
    left: 50%; /* Setzt den linken Rand auf die Mitte */
    transform: translateX(-50%); /* Verschiebt den Container um 50% seiner Breite nach links */
    right: 0;
    width: 90%;
    background-color: white; /* Hintergrundfarbe für die Eingabefelder */
    padding: 16px;
    z-index: 98; /* Sicherstellen, dass es über dem Inhalt liegt */
  }

  
.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
}

.custom-select select {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.custom-select select:hover,
.custom-select select:focus {
  border-color: #007bff;
}
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Card container styling */
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Individual card styling */
  .card {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* Card image */
  .card-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    border-bottom: 2px solid #f4f4f4;
  }
  
  /* Card body content */
  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    white-space: normal; /* Erlaubt mehrere Zeilen */
    overflow-wrap: break-word;
  }
  
  .card-price {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .quantity-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin-bottom: 15px;
  }
  
  .add-to-cart-btn {
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
    transform: scale(1); /* Sicherstellen, dass der Button im Normalzustand nicht skaliert ist */
}

.add-to-cart-btn.clicked {
    transform: scale(1.1); /* Vergrößerung um 10% */
    background-color: rgb(255, 102, 0); /* Orange Hintergrund */
}
  
  .add-to-cart-btn:hover {
    background-color: #3d3d3d;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 5px;
        padding: 10px;
        border: none;
        cursor: pointer;
      }
      
      button:first-of-type {
        background: green;
        color: white;
      }
      
      button:last-of-type {
        background: red;
        color: white;
      }
      
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .d-none {
    display: none;
  }
  
  