<div class="filter-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Artikel suchen..." class="search-input">

      <select [(ngModel)]="selectedCategory" (change)="filterCategory($event)">
      <option value="">Alle Kategorien</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
</div>

<div class="content">
    @for (artikel of filteredArtikelData(); track $index) {
        <div class="card">
            <img src="https://placehold.co/100x100" alt="Avatar" class="card-img">
            <div class="card-body">
              <h4 class="card-title"><b>{{ artikel.article_text }}</b></h4>
              <p class="card-price">Art.-Nr [{{ artikel.article_number }}]</p>
              <p class="card-price">{{ artikel.sale_price }}€ pro {{ artikel.unit }}</p>
              <input type="number" [(ngModel)]="artikel.quantity" placeholder="Menge eingeben" class="quantity-input" min="1">
              <button (click)="addToCart(artikel)" class="add-to-cart-btn">In den Warenkorb</button>
            </div>
          </div>
    }

    <app-warenkorb></app-warenkorb>
</div>
