* {
    line-height: 1.6;
    max-width: 1000px;
}

section {
    box-sizing: border-box;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    min-height: calc(100vh - 200px);
}

h1, h2 {
    color: #333;
}
ul {
    padding-left: 20px;
}

.go-back-con {
    position: fixed;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;

    img {
        background-color: white;
        padding: 6px;
        border-radius: 100%;
        width: 35px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

}