<section>
    <h1>Impressum</h1>
    <p><strong>Gastro Depot GmbH &amp; Co. KG</strong><br>
    Im Winkel 6<br>
    67547 Worms<br>
    Telefon: +49 6241 49 65 936<br>
    E-Mail: <a href="mailto:[E-Mail-Adresse]">info&#64;gastro-depot-worms.de</a><br>
    
    <h2>Vertreten durch:</h2>
    <p>[Name der GmbH, die als Komplementärin fungiert]<br>
    Diese wird vertreten durch den Geschäftsführer:<br>
    Sedat Karaaslan <br>
    Selman Bakla
    </p>
    
    <h2>Handelsregister:</h2>
    <p>Eingetragen im Handelsregister des Amtsgericht Mainz unter der Handelsregisternummer A 44700</p>
    
    <h2>Komplementärin:</h2>
    <p>[Firmenname der GmbH]<br>
    Handelsregister: [Amtsgericht, HRB-Nummer]<br>
    Geschäftsführer: [Name des Geschäftsführers]</p>
    
    <h2>Umsatzsteuer-Identifikationsnummer:</h2>
    <p>DE369727516</p>
    
    <h2>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:</h2>
    <p>Sedat Karaaslan <br>
        Im Winkel 6 <br>
        67547 Worms</p>
    
    <h2>Alternative Streitbeilegung:</h2>
    <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
    <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>.</p>
    <p>Wir sind nicht verpflichtet und nicht bereit, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    
    <h2>Haftung für Inhalte:</h2>
    <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>
    
    <h2>Haftung für Links:</h2>
    <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.</p>
</section>
